.test-container {
  margin-bottom: 100px;
  padding: 20px;
  background-color: #c1c1c1;
  height: 600px;
}

.test-titel {
  color: #000000;
}

.dark-theme {
  background-color: #000000;
  background-image: url(./img/icon.svg);
  color: beige;
}

/* ---------pagination----------- */
.js-content-container {
  margin-top: 100px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 323px;
  gap: 14px;
  /* margin-left: auto;
  margin-right: auto; */
}

.pag-btn {
  color: #000;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border-width: 1px;
  border-color: #111;
  background-color: #fff;
}

.btn-back,
.btn-one-back,
.btn-activ {
  background-color: #111;
  color: #ffffff;
}

.btn-one-forward,
.btn-forward {
  background-color: #eac645;
}

button:disabled {
  opacity: 0.5;
}
